{% extends 'base.html' %}
{% include 'header.html' %}

{% block body %}

<form method="post">
    <div class="form-group">
        <h3><label for="title">Input title </label></h3>
        <input type="text" name="title"
               placeholder="Enter" class="form-control" id="title" required="1"
               value="{{ request.form['title'] }}">
    </div>
    <div class="form-group">
        <h3><label for="content">Input text in natural language</label></h3>
        <textarea name="content" placeholder="Enter" rows="16"
                  class="form-control" id="content">{{ request.form['content'] }}</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

<form method="POST" enctype="multipart/form-data">
    <h3><label for="content">Or upload text file</label></h3>
    <input type="file" name="file">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Upload</button>
    </div>
</form>
{% endblock %}
