{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <h2><a href="{{url}}/output/{{article}}">Text "{{article}}"</a> lexemes</h2>

                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>

                {% endfor %}

                {% endif %}
                {% endwith %}

                <table class="table table-hover table-dark">
                    <tr>
                        <th>Lexeme</th>
                        <th>Singular</th>
                        <th>Plural</th>
                        <th>Attributes</th>
                    </tr>
                    {% for lexeme, grammar in lexemes.items() %}
                    <tr>
                        <td>{{ lexeme }}</td>
                        {% if grammar.get("paradigm") %}
                        <td>
                            {% if grammar["paradigm"].get("singular") %}
                            {{ grammar["paradigm"]["singular"] }}
                            {% else %}
                            --
                            {% endif %}
                        </td>
                        <td>
                            {% if grammar["paradigm"].get("plural") %}
                            {{ grammar["paradigm"]["plural"] }}
                            {% else %}
                            --
                            {% endif %}
                        </td>
                        {% else %}
                        <td>
                            --
                        </td>
                        <td>
                            --
                        </td>
                        {% endif %}
                        <td>
                            {% if grammar.get("attributes") %}
                            {{ grammar["attributes"] }}
                            {% else %}
                            --
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
